# Dependency directories
node_modules/

# Logs
debug.log

# Config folder
cypress/config/bsn/prod.json
cypress/config/bsn/qa.json
package.json

# Download folder
cypress/downloads/
cypress/videos/

# Fixture folder
cypress/fixtures/example.json
cypress/fixtures/credentials.json

# Screenshots and Videos
cypress/**/*.mp4
cypress/**/*.png
cypress/**/*.jpg
